/* Macondo and Inter fonts (Google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/*Macondo css class:
    .macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
Inter css class
    / <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */


body {
   font-family: "Inter", sans-serif;

    background-color:aquamarine;
}
h1 {
   font-family: "Macondo", cursive;
}